@font-face {
    font-family: "Torus";
    src: url("fonts/TorusRegular.otf");
}
  
header{
    /* border: 1px solid yellow; */
    background-color: #3986ac;
    height: 50px;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

body {
    font-family: "Torus";
    color: white;
    background-color: #171A1C;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

.site-title {
    font-size: 24;
    position: relative; Top: 10px;
    padding-left: 7.5px;

}

.site-nav {
    float: right;
    position: relative; Top: 6.5px; /* This looks more visually balanced */
    padding-right: 7.5px;
}
nav {
    display: block;
}
.wrapper {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}
#clear-mods {
    scale: 1.05;
    padding-left: 1px;
    background-color: transparent;
    opacity: .75;
    border: none;
    transition: background-color 0.1s, opacity 0.1s, transform 0.1s;
}
#clear-mods:active {
    background-color: transparent;
    opacity: 0.65;
    transform: scale(0.95); /* Slightly shrink the button when clicked */
}
#clear-mods:hover {
  opacity: 1;
}

input[type="checkbox"] {
    display: none;
}

.content-title {
    padding-left: 14px;
}

.input-fields {
    color: white;
    background-color: #22282a;
    padding-left: 14px;
}

label img {
    opacity : 0.7;
}
input[type=checkbox]:checked + label img {
    opacity : 1;
}
input[type=checkbox] + label img:hover {
    opacity: 1;
}


.wrapper {
    /* border: 1px solid white; */
}