@font-face {
    font-family: "Torus";
    src: url("/fonts/Torus\ Regular.otf");
}
  
header{
    background-color: #3986ac;
    height: 50;
}

body {
    font-family: "Torus";
    color: white;
    background-color: #171A1C;
}
.site-nav {
    float: right;
}
nav {
    display: block;
}
.wrapper {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
}
.clear-mods {
    background-color: transparent;
    opacity: .9;
    border: none;
    transition: background-color 0.1s, opacity 0.1s, transform 0.1s;
}
.clear-mods:active {
    background-color: transparent;
    opacity: 0.7;
    transform: scale(0.95); /* Slightly shrink the button when clicked */
}
.clear-mods:hover {
  opacity: 1;
}

input[type="checkbox"] {
    display: none;
}
.input-fields {
    color: white;
    background-color: #22282a;
}